@page
@model List<ContractsTestWork.Models.Entities.Contract>

@{
    ViewData["Title"] = "Contracts";
}

<h2>Список договоров</h2>

<ul>
    @foreach (var contract in Model)
    {
        <li>@contract.Code - @contract.Name (Заказчик: @contract.Customer)</li>
    }
</ul>