@page
@model List<ContractsTestWork.Models.Entities.ContractStage>

@{
    ViewData["Title"] = "Contract Stages";
}

<h2>Этапы договора</h2>

<ul>
    @foreach (var stage in Model)
    {
        <li>@stage.Name (Начало: @stage.StartDate, Окончание: @stage.EndDate)</li>
    }
</ul>