@page
@model List<ContractsTestWork.Models.Entities.Contract>

@{
    ViewData["Title"] = "Contracts";
}

<h2>Список договоров и этапов</h2>

<div id="contractList">
    <!-- Здесь будет отображаться список договоров и этапов через JavaScript -->
</div>